@use '@el-theme/common/vars' as *;
@use '@el-theme/mixins' as *;
@use '@el-theme/mixins/utils';

@include b('breadcrumb') {
  line-height: 1;
  font-size: 14px;
  @include utils.clearfix;

  @include e('separator') {
    margin: 0 9px;
    font-weight: bold;
    color: getCSSVar('text-color', 'placeholder');

    &.#{bem('icon')} {
      margin: 0 6px;
      font-weight: normal;
  
      svg { vertical-align: middle; }
    }
  }

  @include e('item') {
    float: left;
    display: inline-flex;
    align-items: center;

    @include e('inner') {
      color: getCSSVar('text-color', 'regular');

      @include when('link') {
        &, a {
          font-weight: bold;
          text-decoration: none;
          transition: getCSSVar('transition', 'color');
          color: getCSSVar('text-color', 'primary');
  
          &:hover {
            color: getCSSVar('color-primary');
            cursor: pointer;
          }
        }
      }
    }

    &:last-child {
      @include e('inner') {
        &, & a,
        &:hover, & a:hover {
          font-weight: normal;
          color: getCSSVar('text-color', 'regular');
          cursor: text;
        }
      }

      @include e('separator') {
        display: none;
      }
    }
  }
}
