@use 'sass:string';
@use '../vars/config';

@function join-ns($list) {
  $name: config.$namespace;

  @each $item in $list {
    @if $item != '' {
      $name: $name + '-' + $item;
    }
  }
  @return $name;
}

/// @example scss
///   @debug joinVarName(('button', 'text-color'))
///   //  -> --el-button-text-color
@function joinVarName($list) {
  @return #{'--' + join-ns($list)};
}

@function getCSSVar($args...) {
  @return var(#{joinVarName($args)});
}

@function getCSSVarName($args...) {
  @return joinVarName($args);
}

@function getCSSVarWithDefault($args, $default) {
  @return var(#{joinVarName($args)}, #{$default});
}

@function hitAllSpecialNestRule($selector) {
  @return hasModifier($selector) or hasWhenFlag($selector) or hasPseudoClass($selector);
}

@function selectorToString($selector) {
  @return '' + $selector;
}

@function hasModifier($selector) {
  $selector: selectorToString($selector);
  @return string.index($selector, config.$modifier-separator);
}

@function hasWhenFlag($selector) {
  $selector: selectorToString($selector);
  @return string.index($selector, '.' + 'is-');
}

@function hasPseudoClass($selector) {
  $selector: selectorToString($selector);
  @return string.index($selector, ':');
}
