@use '@el-theme/mixins' as *;
@use 'vars';

:root {
  @include set-component-css-var('popup', vars.$popup);
}

@include b('popup-parent') {
  @include m('hidden') {
    overflow: hidden;
  }
}

.v-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: getCSSVar('popup-modal-opacity');
  background: getCSSVar('popup-modal-bg-color');
  
  &-enter {
    animation: v-modal-in getCSSVar('transition-duration-fast') ease;
    
    @keyframes v-modal-in {
      0% { opacity: 0; }
      100% {}
    }
  }

  &-leave {
    animation: v-modal-out getCSSVar('transition-duration-fast') ease forwards;
    
    @keyframes v-modal-out {
      0% {}
      100% {
        opacity: 0;
      }
    }
  }
}
