@use '../mixins/index' as *;
@use '../mixins/var' as *;
@use '../common/var' as *;

@include b(backtop) {
  @include set-component-css-var('backtop', $backtop);

  position: fixed;
  background-color: getCSSVar('backtop', 'bg-color');
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: getCSSVar('backtop', 'text-color');
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  box-shadow: getCSSVar('box-shadow', 'lighter');
  cursor: pointer;
  z-index: 5;

  &:hover {
    background-color: getCSSVar('backtop', 'hover-bg-color');
  }

  @include e(icon) {
    font-size: 20px;
  }
}
