@use '../vars'    as *;
@use '../forward' as *;
@use '../mixins/utils';

@include b('badge') {
  @include set-component-css-var('badge', $badge);

  position: relative;
  display: inline-block;
  width: fit-content;
  vertical-align: middle;

  @include e('content') {
    @include utils.inline-flex-center;

    background-color: getCSSVar('badge', 'bg-color');
    border-radius: getCSSVar('badge', 'radius');
    color: getCSSVar('color', 'white');

    height: getCSSVar('badge', 'size');
    padding: 0 getCSSVar('badge', 'padding');
    border: 1px solid getCSSVar('bg-color');
    font-size: getCSSVar('badge', 'font-size');
    white-space: nowrap;

    @include when('fixed') {
      position: absolute;
      top: 0;
      right: calc(1px + #{getCSSVar('badge', 'size')} / 2);
      transform: translateY(-50%) translateX(100%);
      z-index: getCSSVar('index', 'normal');

      @include when('dot') {
        right: 5px;
      }
    }

    @include when('dot') {
      height: 8px;
      width: 8px;
      padding: 0;
      right: 0;
      border-radius: 50%;
    }

    @each $type in ('primary', 'success', 'warning', 'info', 'danger') {
      @include m($type) {
        background-color: getCSSVar('color', $type);
      }
    }
  }
}
