@use '../mixins/index' as *;
@use '../mixins/var' as *;
@use '../common/var' as *;

@include b(calendar) {
  @include set-component-css-var('calendar', $calendar);

  background-color: getCSSVar('fill-color', 'blank');

  @include e(header) {
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
    border-bottom: getCSSVar('calendar', 'header-border-bottom');
  }

  @include e(title) {
    color: getCSSVar('text-color');
    align-self: center;
  }

  @include e(body) {
    padding: 12px 20px 35px;
  }
}

@include b(calendar-table) {
  table-layout: fixed;
  width: 100%;

  thead th {
    padding: 12px 0;
    color: getCSSVar('text-color', 'regular');
    font-weight: normal;
  }

  &:not(.is-range) {
    td.prev,
    td.next {
      color: getCSSVar('text-color', 'placeholder');
    }
  }

  td {
    border-bottom: getCSSVar('calendar', 'border');
    border-right: getCSSVar('calendar', 'border');
    vertical-align: top;
    transition: background-color getCSSVar('transition-duration', 'fast') ease;

    @include when(selected) {
      background-color: getCSSVar('calendar', 'selected-bg-color');
    }

    @include when(today) {
      color: getCSSVar('color-primary');
    }
  }

  tr:first-child td {
    border-top: getCSSVar('calendar', 'border');
  }

  tr td:first-child {
    border-left: getCSSVar('calendar', 'border');
  }

  tr.#{$namespace}-calendar-table__row--hide-border td {
    border-top: none;
  }

  @include b(calendar-day) {
    box-sizing: border-box;
    padding: 8px;
    height: getCSSVar('calendar', 'cell-width');
    &:hover {
      cursor: pointer;
      background-color: getCSSVar('calendar', 'selected-bg-color');
    }
  }
}
