@use '../mixins/index' as *;
@use '../mixins/var' as *;
@use '../common/var' as *;

@include b(card) {
  @include set-component-css-var('card', $card);
}

@include b(card) {
  border-radius: getCSSVar('card', 'border-radius');
  border: 1px solid getCSSVar('card', 'border-color');
  background-color: getCSSVar('card', 'bg-color');
  overflow: hidden;
  color: getCSSVar('text-color', 'primary');
  transition: getCSSVar('transition-duration');

  @include when(always-shadow) {
    box-shadow: getCSSVar('box-shadow', 'light');
  }

  @include when(hover-shadow) {
    &:hover,
    &:focus {
      box-shadow: getCSSVar('box-shadow', 'light');
    }
  }

  @include e(header) {
    padding: calc(#{getCSSVar('card', 'padding')} - 2px)
      getCSSVar('card', 'padding');
    border-bottom: 1px solid getCSSVar('card', 'border-color');
    box-sizing: border-box;
  }

  @include e(body) {
    padding: getCSSVar('card', 'padding');
  }

  @include e(footer) {
    padding: calc(#{getCSSVar('card', 'padding')} - 2px)
      getCSSVar('card', 'padding');
    border-top: 1px solid getCSSVar('card', 'border-color');
    box-sizing: border-box;
  }
}
