@use '../vars'    as *;
@use '../forward' as *;

@include b(empty) {
  @include set-component-css-var('empty', $empty);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
  padding: getCSSVar('empty-padding');

  @include e(image) {
    width: getCSSVar('empty-image-width');

    img {
      user-select: none;
      width: 100%;
      height: 100%;
      vertical-align: top;
      object-fit: contain;
    }

    svg {
      color: getCSSVar('svg-monochrome-grey');
      fill: currentColor;
      width: 100%;
      height: 100%;
      vertical-align: top;
    }
  }

  @include e(description) {
    margin-top: getCSSVar('empty-description-margin-top');

    p {
      margin: 0;
      font-size: getCSSVar('font-size', 'base');
      color: getCSSVar('text-color', 'secondary');
    }
  }

  @include e(bottom) {
    margin-top: getCSSVar('empty-bottom-margin-top');
  }
}
