@use '../mixins/index' as *;
@use '../mixins/var' as *;
@use '../common/var' as *;

@include b(footer) {
  @include set-component-css-var('footer', $footer);

  padding: getCSSVar('footer-padding');
  box-sizing: border-box;
  flex-shrink: 0;
  height: getCSSVar('footer-height');
}
