@use '../vars'    as *;
@use '../forward' as *;

@include b(header) {
  @include set-component-css-var('header', $header);

  padding: getCSSVar('header-padding');
  box-sizing: border-box;
  flex-shrink: 0;
  height: getCSSVar('header-height');
}
