@use '../vars'    as *;
@use '../forward' as *;

@include b(result) {
  @include set-component-css-var('result', $result);
}

@include b(result) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
  padding: getCSSVar('result-padding');

  @include e(icon) {
    svg {
      width: getCSSVar('result-icon-font-size');
      height: getCSSVar('result-icon-font-size');
    }
  }

  @include e(title) {
    margin-top: getCSSVar('result-title-margin-top');

    p {
      margin: 0;
      font-size: getCSSVar('result-title-font-size');
      color: getCSSVar('text-color', 'primary');
      line-height: 1.3;
    }
  }

  @include e(subtitle) {
    margin-top: getCSSVar('result-subtitle-margin-top');

    p {
      margin: 0;
      font-size: getCSSVar('font-size', 'base');
      color: getCSSVar('text-color', 'regular');
      line-height: 1.3;
    }
  }

  @include e(extra) {
    margin-top: getCSSVar('result-extra-margin-top');
  }

  @each $type in $types {
    .icon-#{$type} {
      @include css-var-from-global(('result', 'color'), ('color', $type));
      color: getCSSVar('result-color');
    }
  }
}
