@use '../vars'    as *;
@use '../forward' as *;

@include b(timeline-item) {
  position: relative;
  padding-bottom: 20px;

  @include e(wrapper) {
    position: relative;
    padding-left: 28px;
    top: -3px;
  }

  @include e(tail) {
    position: absolute;
    left: 4px;
    height: 100%;
    border-left: 2px solid getCSSVar('timeline-node-color');
  }

  & .#{$namespace}-timeline-item__icon {
    color: getCSSVar('color-white');
    font-size: getCSSVar('font-size-small');
  }

  @include e(node) {
    position: absolute;
    background-color: getCSSVar('timeline-node-color');
    border-color: getCSSVar('timeline-node-color');
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    @include m(normal) {
      left: -1px;
      width: getCSSVar('timeline-node-size-normal');
      height: getCSSVar('timeline-node-size-normal');
    }
    @include m(large) {
      left: -2px;
      width: getCSSVar('timeline-node-size-large');
      height: getCSSVar('timeline-node-size-large');
    }
    @include when(hollow) {
      background: getCSSVar('color-white');
      border-style: solid;
      border-width: 2px;
    }

    @each $type in (primary, success, warning, danger, info) {
      @include m($type) {
        background-color: getCSSVar('color', $type);
        border-color: getCSSVar('color', $type);
      }
    }
  }

  @include e(dot) {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @include e(content) {
    color: getCSSVar('text-color', 'primary');
  }

  @include e(timestamp) {
    color: getCSSVar('text-color', 'secondary');
    line-height: 1;
    font-size: getCSSVar('font-size-small');

    @include when(top) {
      margin-bottom: 8px;
      padding-top: 4px;
    }
    @include when(bottom) {
      margin-top: 8px;
    }
  }
}
