@use 'sass:string';

@use 'utils' as u;
@use '../config' as c;

$-B: '';

@mixin b($blocks...) {
  $-B: u.joinBlock($blocks) !global;

  #{$-B} {
    @content;
  }
}

@mixin e($elements...) {
  $blocks: string.split($-B, ',');
  $curSelector: u.selectorHandle($elements, $blocks);

  @if u.hitAllSpecialNestRule(&) {
    @at-root & {
      #{$curSelector} {
        @content;
      }
    }
  } @else {
    @at-root #{$curSelector} {
      @content;
    }
  }
}

@mixin m($modifiers...) {
  @at-root {
    #{u.selectorHandle($modifiers, &, 'm')} {
      @content;
    }
  }
}

@mixin is($states) {
  @at-root {
    #{u.selectorHandle($states, &, 'is')} {
      @content;
    }
  }
}

@function bem($block, $element: null, $modifier: null) {
  $el: if($element, '__' + $element, '');
  $mod: if($modifier, '--' + $modifier, '');

  @return c.$prefix + '-' + $block + $el + $mod;
}
