@use 'common/mixins' as *;
@use 'common/utils' as u;
@use 'theme/dark' as *;

html.dark {
  color-scheme: dark;

  @include each-types using ($type) {
    // --el-[type]-light-&i
    @include set-css-color-type($colors, $type);
  }

  // --el-[p1], eg: --el-bg-color
  @include set-component-css-var('bg-color', $bg-color);
  @include set-component-css-var('text-color', $text-color);
  @include set-component-css-var('border-color', $border-color);
  @include set-component-css-var('fill-color', $fill-color);
  @include set-component-css-var('box-shadow', $box-shadow);
  @include set-component-css-var('mask-color', $mask-color);
}

$temp-map: (
  button: $button,
  card  : $card,
  empty : $empty
);
  
@each $key, $val in $temp-map {
  @include u.dark($key) {
    @include set-component-css-var($key, $val);
  }
}
