@use '../../vars'    as *;
@use '../../forward' as *;

@include b(time-panel) {
  position: relative;
  left: 0;
  width: 180px;
  z-index: getCSSVar('index-top');
  border-radius: 2px;
  user-select: none;
  box-sizing: content-box;

  @include e(content) {
    position: relative;
    font-size: 0;
    overflow: hidden;

    &::after,
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      z-index: -1;
      height: 32px;
      margin-top: -16px;
      padding-top: 6px;
      text-align: left;
      box-sizing: border-box;
    }

    &::after {
      left: 50%;
      margin-left: 12%;
      margin-right: 12%;
    }

    &::before {
      padding-left: 50%;
      margin-right: 12%;
      margin-left: 12%;
      border-top: 1px solid getCSSVar('border-color-light');
      border-bottom: 1px solid getCSSVar('border-color-light');
    }

    &.has-seconds {
      &::after {
        left: calc(100% / 3 * 2);
      }

      &::before {
        padding-left: calc(100% / 3);
      }
    }
  }

  @include e(footer) {
    border-top: 1px solid var(
      #{getCSSVarName('timepicker-inner-border-color')}, 
      #{getCSSVar('border-color-light')}
    );
    padding: 4px;
    height: 36px;
    line-height: 25px;
    text-align: right;
    box-sizing: border-box;
  }

  @include e(btn) {
    border: none;
    line-height: 28px;
    padding: 0 5px;
    margin: 0 5px;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    font-size: 12px;
    color: getCSSVar('text-color', 'primary');

    &.confirm {
      font-weight: 800;
      color: var(
        #{getCSSVarName('timepicker', 'active-color')},
        #{getCSSVar('color-primary')}
      );
    }
  }
}
